books{color:white;background-color:#c03b3b;width:100%;}

heading{
color:#ffffff;
font-size:40px;
background-color:#18478d;
}

heading,title,author,publisher{
display:block;
}

title{
font-size:25px;
font-weight:bold;
}
